on:
  push:
    branches:
    - main

permissions:
  contents: write

jobs:

    name: Build frontend
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          cd frontend
          docker build -t frontend:${{ github.sha }} . 

      - name: Tag the image
        run: |
          docker tag frontend:${{ github.sha }} ghcr.io/arash00009/guestbook-automation-pipeline-frontend:${{ github.sha }}
          docker tag frontend:${{ github.sha }} ghcr.io/arash00009/guestbook-automation-pipeline-frontend:latest

      - name: Push the images
        run: |
          docker push ghcr.io/arash00009/guestbook-automation-pipeline-frontend:${{ github.sha }}
          docker push ghcr.io/arash00009/guestbook-automation-pipeline-frontend:latest


    
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build app container
      run: |
        docker build -f backend/Containerfile \
          -t ghcr.io/${{ github.repository_owner }}/guestbook:latest \
          ./backend

    - name: Build frontend container
      run: |
        docker build -f frontend/Containerfile \
          -t ghcr.io/${{ github.repository_owner }}/frontend:latest \
          ./frontend

    - name: Push containers
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/guestbook:latest
        docker push ghcr.io/${{ github.repository_owner }}/frontend:latest

    - name: Install OpenShift CLI
      run: |
        curl -LO https://mirror.openshift.com/pub/openshift-v4/clients/oc/latest/linux/oc.tar.gz
        tar -xzf oc.tar.gz
        sudo mv oc /usr/local/bin/
        rm oc.tar.gz kubectl

    - name: Login to OpenShift
      run: |
        oc login \
          --token=${{ secrets.OCP_TOKEN }} \
          --insecure-skip-tls-verify \
          --server=https://api.devops24.cloud2.se:6443

    - name: Deploy on OpenShift
      run: |
        oc project test-miljo2
        oc apply -f config.yaml
        oc apply -f backend.yaml
        oc apply -f frontend.yaml
        oc apply -f secrets.yaml
