name: Build and Deploy

on:
  push:
    branches:
      - main

# Korrekta permissions
permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend container
        run: |
          docker build -f backend/Containerfile \
            -t ghcr.io/arash00009/guestbook-automation-pipeline-backend:${{ github.sha }} \
            -t ghcr.io/arash00009/guestbook-automation-pipeline-backend:latest \
            ./backend
          docker push ghcr.io/arash00009/guestbook-automation-pipeline-backend:${{ github.sha }}
          docker push ghcr.io/arash00009/guestbook-automation-pipeline-backend:latest

      - name: Build and push frontend container
        run: |
          docker build -f frontend/Containerfile \
            -t ghcr.io/arash00009/guestbook-automation-pipeline-frontend:${{ github.sha }} \
            -t ghcr.io/arash00009/guestbook-automation-pipeline-frontend:latest \
            ./frontend
          docker push ghcr.io/arash00009/guestbook-automation-pipeline-frontend:${{ github.sha }}
          docker push ghcr.io/arash00009/guestbook-automation-pipeline-frontend:latest

      - name: Install OpenShift CLI
        run: |
          curl -LO https://mirror.openshift.com/pub/openshift-v4/clients/oc/latest/linux/oc.tar.gz
          tar -xzf oc.tar.gz
          sudo mv oc /usr/local/bin/
          rm oc.tar.gz

      - name: Login to OpenShift
        run: |
          oc login \
            --token=${{ secrets.OCP_TOKEN }} \
            --insecure-skip-tls-verify \
            --server=https://api.devops24.cloud2.se:6443

      - name: Deploy on OpenShift
        run: |
          oc project test-miljo2 || oc new-project test-miljo2
          oc apply -f config.yaml
          oc apply -f backend.yaml
          oc apply -f frontend.yaml
          oc apply -f secrets.yaml

          oc apply -f config.yaml
          oc apply -f backend.yaml
          oc apply -f frontend.yaml
          oc apply -f secrets.yaml
